Package: die
Version: 1.1.0
Section: base
Priority: optional
Architecture: armhf
Depends: libc-bin, libffi6, libgmp10
Maintainer: Robert Fuszenecker <robert.fuszenecker@outlook.com>
Description: Date to code converter (2020. 4. 11. -> BQTFF)
